/* banner section */

body {
    font-family: 'Merriweather', serif;
}

header {
    background-image: url("resources/Banner Image.png");
    height: 600px;
    width: 1320px;
}

.banner-title {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 175px;
}

.banner-description {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;

}

.banner {
    text-align: center;
}

/* start 65% off */
.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.our-day {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
}

.all-cate {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.off-section {
    width: 802.9px;
    height: 500px;
    margin:48px auto 120px auto;
}

/* wallcome party section */
.party-start {
    background-image: url("resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 400px;
}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
}
.party-dexscription {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
}

.join-now {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* discription start */
.ss{
    width: 1320px;
    height: 482px;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    
}

.text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.text-des {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.text-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.sub {
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}